* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 1180px;
	margin: 60px auto 0;
}

header {
	background-image: url('/demo-dasmotos/images/pattern.jpeg');
	background-size: cover;
	opacity: 0.85;
}

header h1 {
	font-size: 100px;
	color: khaki;
	text-align: center;
}

header h1,
h2,
h3,
span {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h2 {
	font-size: 32px;
	color: white;
}

h3 {
	margin: 10px 0;
}
.brushes {
	margin: 60px 0 30px;
}

.brushes-bkg {
	background-color: mediumspringgreen;
}

.frames-bkg {
	background-color: lightcoral;
}

.paint-bkg {
	background-color: skyblue;
}

.price-style {
	color: blue;
}

img {
	margin: 25px 0px 15px;
}

p {
	margin: 20px 0;
	font-family: Helvetica, Arial, sans-serif;
}
